.modal {
	background-color: rgba(0, 0, 0, 0.5);
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;

	display: flex;
	justify-content: center;
	align-items: center;
}

.modal_content {
	height: 75vh;
	width: 25vw;
	background-color: var(--main-bg-color);
	position: relative;
	padding: 1rem;

	display: flex;
	justify-content: center;
	align-items: center;
}

.modal_content>button {
	position: absolute;
	top: 0.4rem;
	left: 1rem;
	font-size: 1.5rem;
	z-index: 1000;
}